@use 'NavBar';
@use 'Corpo';
@use 'Main';

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    color: #262626;
    font-weight: 400;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}