.all-content {
    justify-content: space-between;
    width: 50rem;
}

.post, .posts-container, .posts-section, .sidebar-section {
    flex-direction: column;
}

.posts-section, .sidebar-section {
    justify-content: space-evenly;
}

.stories-container ul {
    margin: 0;

    li {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width: 5rem;
    }

    img {
        display: block;
    }
}

.post-caption {
    flex-direction: column;
}