.all-content {
    justify-content: space-between;
    width: 67rem;
    margin-top: 6rem;
}

.posts-container ul {
    width: 100%;
}

.post {
    margin-top: 1rem;
    border-radius: 0.3rem;
    border: 0.08rem solid #DBDBDB;
}

.post:last-child {
    margin-bottom: 4rem;
}

.post-header {
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 1rem;

    div {
        align-items: center;
    }

    img {
        height: auto;
        width: 2.3rem;
    }

    p {
        margin: 0 0 0 0.6rem;
        height: fit-content;
        font-weight: 500;
    }
}

.post-image img {
    height: auto;
    width: 100%;
}

.post-caption {
    padding: 0 1rem;
}

.caption-top {
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-size: 1.71rem;

    div {
        width: 6.7rem;
        justify-content: space-between;
    }
}

.caption-bottom {
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 300;
    white-space: pre;

    img {
        height: auto;
        width: 1.45rem;
        margin-right: 0.65rem;
    }

    strong {
        font-weight: 900;
    }
}

.stories-container ul {
    margin: 0;
    position: relative;
    align-items: center;
    border-radius: 0.3rem;
    border: 0.1rem solid #DBDBDB;
    height: 8.5rem;

    ion-icon {
        display: block;
        font-size: 2rem;
        position: absolute;
        color: #FFF;
        right: 1rem;
        filter: drop-shadow(0 0 0.1rem rgb(120, 120, 120));
    }
}

.story {
    flex-direction: column;
    align-items: center;
    width: 5.4rem;
    justify-content: space-between;
    height: 6rem;

    p {
        margin: 0;
        font-size: 0.85rem;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 66px;
        display: block;
        font-weight: 500;
    }

    img {
        display: block;
        position: absolute;
        margin: 5px 0 0 5px;
    }
}

.story:first-child {
    margin-left: 0.8rem;
}

.story:last-child {
    margin-right: 0.8rem;
}

.story-background {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
}

.stories-container ul,
.posts-container ul {
    margin: 0;
    padding: 0;
}

.post,
.posts-container ul,
.posts-section,
.sidebar-section,
.post-caption {
    flex-direction: column;
}

.posts-section {
    justify-content: space-evenly;
}

.sidebar-section {
    height: 36rem;
    padding-top: 1.8rem;
}

.sidebar,
.sidebar-user div {
    flex-direction: column;
}

.sidebar {
    width: 21rem;
}

.sidebar-user {
    div {
        justify-content: center;
        margin-left: 1rem;
    }

    strong {
        font-weight: 500;
    }

    p {
        margin: 0 0.6rem 0 0;
        font-weight: 300;
        color: rgb(145, 145, 145)
    }
}

.sidebar ul {
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.suggestions-header {
    padding: 1.2rem 0 0.4rem 0;
}

.suggestions-header>strong {
    font-weight: 500;
}

.suggestion,
.suggestions-header {
    width: 100%;
    justify-content: space-between;
}

.suggestion {
    height: 3.4rem;
}

.suggestion-content {
    align-items: center;

    div {
        margin-left: 0.8rem;
        flex-direction: column;
    }

    strong,
    p {
        font-weight: 500;
    }

    p {
        width: fit-content;
        margin: 0;
        color: rgb(145, 145, 145);
    }
}

.follow-button {
    align-items: center;
    font-weight: 900;
    color: #139EF2;
}

.links {
    flex-wrap: wrap;
    white-space: pre;
    margin-top: 2rem;
}

.links div:not(:last-child):after {
    content: ' • ';
}

.links div,
.link,
.copyright {
    color: rgb(189, 188, 188);
    font-weight: 500;
}

.links div {
    align-items: center;
    font-size: 0.75rem;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.copyright {
    margin-bottom: 0;
    font-size: 0.75rem;
}