.all-content {
    justify-content: space-between;
    width: 50rem;
    margin-top: 6rem;
}

.posts-container ul {
    width: 100%;
}

.post {
    margin-top: 2rem;
    border-radius: 0.3rem;
    border: 0.08rem solid #DBDBDB;
}

.post-header {
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 1rem;

    div {
        align-items: center;
        justify-content: space-between;
        width: 6.8rem;
    }

    img {
        height: auto;
        width: 2.3rem;
    }

    p {
        margin: 0;
        height: fit-content;
        font-weight: 500;
    }
}

.post-image img {
    height: auto;
    width: 100%;
}

.post-caption {
    padding: 0 1rem;
}

.caption-top {
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-size: 1.71rem;

    div {
        width: 6.7rem;
        justify-content: space-between;
    }
}

.caption-bottom {
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 300;
    white-space: pre;

    img {
        height: auto;
        width: 1.45rem;
        margin-right: 0.65rem;
    }
}

.stories-container ul {
    margin: 0;
    position: relative;
    align-items: center;
    border-radius: 0.3rem;
    border: 0.1rem solid #DBDBDB;
    height: 8.5rem;

    li {
        flex-direction: column;
        align-items: center;
        width: 5.4rem;
        justify-content: space-between;
        height: 6rem;
    }

    li:first-child {
        margin-left: 0.8rem;
    }

    li:last-child {
        margin-right: 0.8rem;
    }

    p {
        margin: 0;
        font-size: 0.85rem;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 66px;
        display: block;
        font-weight: 500;
    }

    img, ion-icon {
        display: block;
    }

    img {
        position: absolute;
        margin: 5px 0 0 5px;
    }

    ion-icon {
        font-size: 2rem;
        position: absolute;
        color: #FFF;
        right: 1rem;
        filter: drop-shadow(0 0 0.1rem rgb(120, 120, 120));
    }
}

.story-background {
    position: relative!important;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
}

.stories-container ul, .posts-container ul {
    margin: 0;
    padding: 0;
}

.post, .posts-container ul, .posts-section, .sidebar-section, .post-caption {
    flex-direction: column;
}

.posts-section, .sidebar-section {
    justify-content: space-evenly;
}