.root {
    display: flex;
    justify-content: center;
}

.root * {
    display: flex;
}

.app {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.all-content {
    justify-content: space-between;
    width: 67rem;
    margin-top: 6rem;
}

.link,
.suggestions-header strong:last-child,
.follow-button,
.suggestion-content div strong,
.suggestion-content div p,
.sidebar-user img,
.sidebar-user strong,
ion-icon,
.navbar-logo img,
.story p,
.story-image img:last-child,
.post-header img,
.post-header p,
.post-caption img,
.post-caption strong {
    cursor: pointer;
}

.post,
.posts-container ul,
.posts-section,
.sidebar-section,
.post-caption {
    flex-direction: column;
}

.stories-container ul,
.posts-container ul {
    margin: 0;
    padding: 0;
}

.posts-section {
    justify-content: space-evenly;
}

.sidebar-section {
    height: 36rem;
    padding-top: 1.8rem;
}