.posts-container ul {
    width: 100%;
}

.post {
    margin-top: 1rem;
    border-radius: 0.3rem;
    border: 0.08rem solid #DBDBDB;
}

.post:last-child {
    margin-bottom: 4rem;
}

.post-header {
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 1rem;

    div {
        align-items: center;
    }

    img {
        height: auto;
        width: 2.3rem;
    }

    p {
        margin: 0 0 0 0.6rem;
        height: fit-content;
        font-weight: 500;
    }
}

.post-image img {
    height: auto;
    width: 100%;
}

.post-caption {
    padding: 0 1rem;
}

.caption-top {
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-size: 1.71rem;

    div {
        width: 6.7rem;
        justify-content: space-between;
    }

    button {
        font-size: 1.71rem;
        height: 1.71rem;
        width: 1.71rem;
        margin: 0;
        padding: 0;
        border: none;
        background-color: #FFF;

        :focus {
            outline: none;
        }
    }
}

.heart {
    color: rgb(218, 89, 89);
    animation: bounce 0.4s linear;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    65% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.caption-bottom {
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 300;
    white-space: pre;

    img {
        height: auto;
        width: 1.45rem;
        margin-right: 0.65rem;
    }

    strong {
        font-weight: 900;
    }
}