.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  justify-content: center;
  height: 4rem;
  background-color: #FFF;
  border-bottom: 0.1rem solid #DBDBDB;
  font-size: 1.6rem;
}
.navbar img {
  margin-top: 0.4rem;
}
.navbar input {
  height: 2rem;
  width: 15rem;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  border-radius: 0.3rem;
  border: 0.1rem solid #DBDBDB;
  color: #979797;
}
.navbar input:focus {
  outline: none;
}

.navbar-logo,
.navbar-icons,
.navbar-content {
  align-items: center;
  justify-content: space-between;
}

.navbar-content {
  width: 60rem;
}

.navbar-logo {
  width: 10.5rem;
}
.navbar-logo div {
  width: 0.07rem;
  height: 1.6rem;
  background-color: #DBDBDB;
}

.navbar-icons {
  width: 8.5rem;
}

.all-content {
  justify-content: space-between;
  width: 50rem;
  margin-top: 6rem;
}

.posts-container ul {
  width: 100%;
}

.post {
  margin-top: 2rem;
  border-radius: 0.3rem;
  border: 0.08rem solid #DBDBDB;
}

.post-header {
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1rem;
}
.post-header div {
  align-items: center;
  justify-content: space-between;
  width: 6.8rem;
}
.post-header img {
  height: auto;
  width: 2.3rem;
}
.post-header p {
  margin: 0;
  height: fit-content;
  font-weight: 500;
}

.post-image img {
  height: auto;
  width: 100%;
}

.post-caption {
  padding: 0 1rem;
}

.caption-top {
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  font-size: 1.71rem;
}
.caption-top div {
  width: 6.7rem;
  justify-content: space-between;
}

.caption-bottom {
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 300;
  white-space: pre;
}
.caption-bottom img {
  height: auto;
  width: 1.45rem;
  margin-right: 0.65rem;
}

.stories-container ul {
  margin: 0;
  position: relative;
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid #DBDBDB;
  height: 8.5rem;
}
.stories-container ul li {
  flex-direction: column;
  align-items: center;
  width: 5.4rem;
  justify-content: space-between;
  height: 6rem;
}
.stories-container ul li:first-child {
  margin-left: 0.8rem;
}
.stories-container ul li:last-child {
  margin-right: 0.8rem;
}
.stories-container ul p {
  margin: 0;
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 66px;
  display: block;
  font-weight: 500;
}
.stories-container ul img, .stories-container ul ion-icon {
  display: block;
}
.stories-container ul img {
  position: absolute;
  margin: 5px 0 0 5px;
}
.stories-container ul ion-icon {
  font-size: 2rem;
  position: absolute;
  color: #FFF;
  right: 1rem;
  filter: drop-shadow(0 0 0.1rem rgb(120, 120, 120));
}

.story-background {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
}

.stories-container ul, .posts-container ul {
  margin: 0;
  padding: 0;
}

.post, .posts-container ul, .posts-section, .sidebar-section, .post-caption {
  flex-direction: column;
}

.posts-section, .sidebar-section {
  justify-content: space-evenly;
}

.root {
  display: flex;
  justify-content: center;
}

.root * {
  display: flex;
}

.app {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  color: rgb(38, 38, 38);
  font-weight: 400;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
